@using LiveMetal.Core.Models.News
@using LiveMetal.Infrastructure.Data.Models
@model List<NewsViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="news-section">
    <h1 class="news-header">Latest News</h1>
    @foreach (var news in Model)
    {
        <div class="news-item">
            <h2 class="news-title">@news.Title</h2>
            <p class="news-content">@news.Content</p>
            <small class="news-date">Posted on @news.FormattedDate</small>
            <img src="@news.ImageUrl" alt="News image" class="news-image">
            <p class="news-content">@((news.Content.Length > 100 ? news.Content.Substring(0, 100) + "..." : news.Content))</p>
            <a href="@Url.Action("Details", "News", new { id = news.Id })" class="read-more">Read More</a>

        </div>
    }
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/news.css" asp-append-version="true" />
}